.navegacao {
    display: flex;
    justify-content: space-around;  
    align-items: center;
}


.logo {
    margin-top: 1em;
}

.container {
    display: flex;
    justify-content: space-around; 
    margin-top: 1em;
}

.container__link {
    margin-left: 2em;
    text-decoration: none;
    color: var(--cinza-principal);
}

.botoes {
    margin-top: 1.5em;
    padding: 1em 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background: none;
    color: var(--cinza-principal);
}

.primeiro-botao {
    padding: 1em 1em;
}

.primeiro-botao:hover {
    color: var(--bordo);
    transition: 0.5s;
}

.segundo-botao {
    padding: 1em 1em;
    background-color: var(--bordo);
    color: var(--branco);
    border-radius: 0.5em;
}

.segundo-botao:hover {
    background-color: #420000;
    transition: 0.5s;
}








